.mui-table-view-cell.mui-collapse .mui-table-view {
	margin-top: 0;
}
.plusandjian{
			float: left;
			height: 16px;
			width: 16px;
			border-radius: 8px;
			font-weight: 700;
			color: #FFFFFF;
			background-color: #666666;
			text-align: center;
			line-height: 16px;
			margin-right: 10px;
		}