body, .mui-content {
	background-color: #FFF;
}

#bill-infos {
	margin-top: 0;
}

.mui-table-view-cell {
	color: #676767;
	font-size: 14px;
}

.mui-table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #DCDCDC;
}

.lidivone {
	width: 30%;
	text-align: right;
	float: left;
}

.lidivtwo {
	width: 70%;
	float: left;
}

.lidivtwo input {
	font-size: 14px;
}

.redbixu {
	color: red;
}

.inputluru {
	width: 90%;
	border: 1px #CCCCCC solid;
}

input[type=text] {
	margin-bottom: 0px;
	height: 25px;
	line-height: 20px;
}