.banner_bg{
	width: 100%;
	height: 260px;
	background: url(../image/banner_bg.png) no-repeat center center;
	background-size: 100% 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.shenpjd{
	width: 90%;
	height: 80px;
	margin: 50px auto 0;
}