.mui-bottom {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	height: 44px;
	border-bottom: 0;
	background-color: #fff;
}

.hline {
	height: 1px;
	background-color: rgb(239, 239, 239);
	width: 100%;
	float: left;
}

.content-approval {
	width: 100%;
}

.content-approval .contonediv {
	width: 100%;
	margin-top: 6px;
	background-color: #ffffff;
}
.content-approval .contonediv .recid {
	display: none;
}
			
.content-approval .contonediv .worddiv {
	width: 100%;
}

.content-approval .contonediv .worddiv .divleft,
.content-approval .contonediv .worddiv .divright {
	height: 30px;
	line-height: 30px;
	background-color: #FFFFFF;
	font-size: 14px;
	overflow: hidden;
}
.content-approval .contonediv .worddiv .divleft {
	float: left;
	width: 40%;
	text-indent: 1em;
	color: #999999;
}

.content-approval .contonediv .worddiv .divright {
	float: left;
	width: 60%;
	padding-right: 1em;
	text-align: right;
	color: #444444;
}

.content-approval .contonediv .buttondiv{
	width: 100%;
	height: 40px;
	background-color: #f9f9f9;
	clear: both;
}

.content-approval .contonediv .buttondiv .divrights{
	width: 186px;
	height: 40px;
	float: right;
}

.content-approval .contonediv .buttondiv .buttonto{
	float: right;
	height: 24px;
	padding: 0;
	width: 82px;
	margin-right: 8px;
	line-height: 24px;
	font-size: 14px;
	margin-top: 8px;
	background-color: #ffffff;
}
.content-approval .contonediv .buttondiv .buttonto.totraject {
	border: 1px solid #666666;
	color: #666666;
}
.content-approval .contonediv .buttondiv .buttonto.toviewdetail {
	border: 1px solid #089ed8;
	color: #089ed8;
}