/*通用扫一扫/搜索资产样式*/
.asset-search {
	padding-bottom: 5px;
	background-color: #FFFFFF;
	text-align: center;
}

.asset-search .asset-search-btn {
	width: 92%;
	margin: 0 auto;
}

.asset-search-btn label {
	float: right;
	width: 25%;
	padding: 10px 15px;
	height: 40px;
	line-height: 1.1;
	text-align: center;
	color:white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid rgb(44, 195, 255);
	background-color:rgb(44,195,255);
}

.asset-search-btn input {
	font-size: 13px;
	width: 75%;
	margin-bottom: 0;
	background-size: 20px; 
	border: 1px solid #CCCCCC;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#bimg {
	width: 20%;
	margin-top: 15px;
}