*{
	margin: 0;
	padding: 0;
}
.cont{
	background-color: #FFFFFF;
	padding: 0 15px;
	padding-top: 30px;
	padding-bottom: 20px;
	min-height: 100px;
}
.card{
	height: 130px;
	background-image: linear-gradient(-45deg, #4DA3EE 0%, #5E79E6 100%);
	box-shadow: 0 2px 4px 0 rgba(57,96,222,0.40);
	border-radius: 8px;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 10px;
}
.card .title{
	font-family: PingFangSC-Medium;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 16px;
}
.card .price{
	font-family: PingFangSC-Regular;
	font-size: 36px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 25px;
}
.btngrop{
	background-image: linear-gradient(-90deg, #3DA1F2 0%, #3586EF 95%);
	border-radius: 4px;
	width:90%;
	line-height: 1;
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0;
	position: fixed;
	bottom: 20px;
	left: 5%;
}
.feiyadd{
	width: 100%;
	height: 450px;
	margin-top: 250px;
}
.item{
	width: 100%;
	height: 78px;
	background: white;
	z-index: 2222;
	margin-bottom: 5px;
}
.item .check{
	/* display: none; */
}
.item .int{
	width: 97px;
	height: 22px;
	margin-left: 3px;
	border: none;
	border-bottom: solid 3px #DEDFE0;
	font-size: 14px;
}
.item p{
	font-size: 14px;
	font-family: 'PingFangSC-Regular';
	line-height: 1;
}
.item p:nth-child(1){		
	padding: 20px 0 0 20px;
}
.item p:nth-child(2){
	padding: 0px 0 0 40px;
}
.image{
	z-index: 999999;
}