body{
	background-color: #F4F4F4;
}
.cont{
	width:95%;
	margin: 0 auto;
	margin-top: 54px;
}
.cont .title{
	line-height: 1;	
	font-family: PingFangSC-Medium;
	font-size: 16px;
	color: #0B0B0B;
	border-left: 4px solid #50E3C2;
	padding-left: 16px;
} 
.list{
	margin-bottom: 15px;
	padding-top: 20px;
	background-color: #FFFFFF;	
	border-radius: 5px;	
}
.items{
	overflow: hidden;
	margin-top: 20px;
	border-top: 1px solid #F4F4F4;
}
.list .items .item{	
	width:33%;
	float: left;
	border-bottom: 1px solid #F4F4F4;
	border-right: 1px solid #F4F4F4;
	height: 108px;
}
.list .item{
	text-align: center;
}
.item .imgbox{
	width: 32px;
	height: 32px;
	margin: 0 auto;
	margin-top: 30px;	
}
.item span{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #666666;
	letter-spacing: 0;
	line-height: 12px;
}