.cont{
	width:100%;
	padding-top:20px;
}
.cont .title{
	padding-left: 20px;
	font-size: 20px;
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #333333;
} 
.list{
	margin-bottom: 15px;
	background-color: #FFFFFF;
	padding-top: 15px;
}
.items{
	overflow: hidden;
}
.list .item{	
	width:25%;
	height: 72px;
	float: left;
}
.list .item{
	text-align: center;
}
.item .imgbox{
	width: 32px;
	height: 32px;
	margin: 0 auto;
	margin-top: 15px;	
}
.item span{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #666666;
	letter-spacing: 0;
	line-height: 12px;
}