*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.top{
	width:100%;
	background-image: linear-gradient(-46deg, #3A9DF0 0%, #3F5BF3 100%);
}
.toptitle{
	padding-top: 15px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #FFFFFF;
}
.topcont{
	height: 119px;
}
.topcont .l{
	float: left;
	width:50%;
	height: 119px;
	position: relative;
}
.topcont .l .box{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;	
	text-align: center;
}
.topcont .l .box img{
	display: block;
	margin: 0 auto;
}
.topcont .l .box span{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #FFFFFF;
}
.contBox{	
	background-color: #FFFFFF;
}
/* 自己发起、他人发起切换 */

.meother>div{
	display: none;
}
.meother>div.active{
	display: block;
}











/* 面板切换 */
.mianban{
	width:100%;
	padding: 20px;
	overflow: hidden;
}
.mianban>div{
	float: left;
	width:50%;
	line-height: 1;
	padding: 15px 0;
	border: 1px solid #C5C5C5;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #999999;
}
.mianban .me{
	border-right: none;
}
.mianban div.active{
	color: #3A97F0;
	border-color: #A7CBFD;
}
/* 切换组件 */
.topTab{
	width:100%;
	background-color: #FFFFFF;
	padding:0 20px;
	border-bottom: 1px solid #CBCBCB;
}
.topTab ul{
	list-style: none;
	overflow: hidden;
	display: flex;
	width:100%;
}
.topTab li{
	flex: 1;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #999999;
	letter-spacing: 0;
	line-height: 37px;
	height: 37px;
	text-align: center;
	border-bottom: 2px solid transparent;
}
.topTab li.active{
	border-bottom: 2px solid #426DFF;
	color: #426DFF;
}
/* 切换内容 */
.boxes{
	width: 100%;
}
.boxes>div{
	width:100%;
	min-height: 100px;
	display: none;
	overflow: hidden;
}
.boxes>div.active{
	display: block;
}
/* 业务 */
.item{
	overflow: hidden;
	padding: 10px 20px 0;
	border-bottom: 1px solid #C5C5C5;
}
.banlz{
	width:100%;
	/* padding:20px; */
}
/* 左中右结构 */

.boxes div.left{
	float: left;
	width:15%;
}
.boxes div.left li{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #666666;
	line-height: 1;
	padding: 10px 0;
}
.boxes div.center{
	float: left;
	width:65%;
	overflow: hidden;
}
.boxes div.center ul{
	overflow: hidden;
}
.boxes div.center li{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #0B0B0B;
	line-height: 1;
	padding: 10px 0;
	padding-left: 20px;
	/* 不换行，省略号 */
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.boxes div.btngroup{
	float: left;
	width:20%;
}
.boxes div.btngroup button{
	width: 74px;
	height: 30px;
	border-radius: 23px;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	margin-top: 20px;
	outline: none;
}
.boxes div.btngroup .btn-yuyue{
	background-image: linear-gradient(-90deg, #3DA1F2 0%, #3586EF 95%);
	color: #FFFFFF;
}
.boxes div.btngroup .btn-tongyi{
	color: #3A97F0;
}
	