/* homelist样式 */
body{
	background-color: #FFFFFF;
}
.title{
	display: none;	 
}
.logePng{
	width: 40px;
	height: 40px;
}
.content{
	/*margin-top: 58px;*/
}
/* 轮播图 */
.swiper{
	width:100%;
}
.swiper a img{      
	width:100%;
	height: 260px;
}
.content .list{
	width:95%;
	margin: 0 auto;
	overflow: hidden;
}
.list .item{	
	width:25%;
	height: 72px;
	float: left;
}
.list .item{
	text-align: center;
}
.item .imgbox{
	width: 32px;
	height: 32px;
	margin: 0 auto;
	margin-top: 15px;	
}
.item span{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #666666;
	letter-spacing: 0;
	line-height: 12px;
}
/* 新闻 */
.news{
	wdith:100%;
	min-height: 500px;
	background-color: #F4F4F4;
	/*border-top: 1px solid #CBCBCB;*/
	margin-top: 8px;
	padding-top: 10px;
}
.newscont{
	width:95%;
	min-height: 300px;
	margin: 0 auto;	
}
.p1{
	font-family: PingFangSC-Medium;
	font-size: 20px;
	font-weight: bold;
	color: #666;
	letter-spacing: 0;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 16px;
}
.newscont .newsbox{
	min-height: 100px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #EFEFEF;
	padding: 0 20px;
	/*padding-top: 20px;*/
	position: relative;
}
.newstitle{
	font-family: PingFangSC-Regular;
	font-weight: bolder;
	font-size: 17px;
	color: #333333;
	letter-spacing: 0;
	line-height: 25px;
	 -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
     display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newstime{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #999999;
	letter-spacing: 0;
	line-height: 12px;
	position: absolute;
	bottom:15px;
	left: 40px;
}
.newsLeft{
	width: 54.6%;
	margin-left: 5.1%;
	float: left;
	padding-top: 15px;
}
.newsRight{
	width: 30%;
	margin-left: 8%;
	float: left; 
}
.newsRight img{
	width: 120px;
	height: 86px;
	margin-top: 7px;
}
