*{
	margin: 0;
	padding: 0;
}
.cont{
	margin-top: 54px;
	background-color: #FFFFFF;
	width:100%;
	min-height: 500px;	
}
.list{
	width:100%;
	line-height: 1;
	padding: 20px;
	border-bottom: 1px solid #CBCBCB;
	overflow: hidden;
	position: relative;
}
.list span.title{
	display: block;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #0B0B0B;
	line-height: 1;
	margin-bottom: 10px;
}
.list span.time{
	display: block;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #666666;	
	line-height: 1;
}
.list span.gly{
	position: absolute;
	top:20px;
	right: 20px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #0B0B0B;
}