*{
	margin: 0;
	padding: 0;
}
html,body{
	background-color: #F4F4F4;
}
ul,li{
	list-style: none;
}
.mui-bar{
	background-color:#3B77EA;
}
.mui-bar-nav{
	box-shadow: none;
}
header h1.mui-title{
	font-size: 18px;
	color: #FFFFFF;
}
.cont{
	width:100%;
	background-color: #FFFFFF;
	margin-top: 44px;
}
.top_bg{
	background-color: #3B77EA;
	height: 200px;
	padding-top: 25px;
}
.tabs{
	width: 95%;
	height: 36px;
	background-color: red;
	margin: 0 auto;
}
.cards{
	width: 95%;	
	margin: 0 auto;
	margin-top: 30px;
}
.cards .card{
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 15px;
	padding:20px 20px 0;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.05);
	border-radius: 4px;
}
/* 卡片信息 */
.card .cardinfo{
	min-height: 50px;
	border-bottom: 1px solid #EAECED;
}
.cardinfo .title{
	overflow: hidden;
	line-height: 1;
	margin-bottom: 25px;
}
.cardinfo .title span.l{
	font-family: PingFangSC-Semibold;
	font-size: 17px;
	color: #0B0B0B;
	float: left;
	width: 60%;
	word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cardinfo .title span.r{
	font-family: PingFangSC-Medium;
	font-size: 14px;
	color: #EA8F59;
	float: right;
	width: 40%;
	text-align: right;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 卡片信息项 */
.cardinfo ul{
}
.cardinfo ul li{
	overflow: hidden;
	margin-bottom: 10px;
}
.cardinfo ul li span.l{
	width: 30%;
	line-height: 1;
	font-size: 15px;
	color: #666666;
	float: left;
}
.cardinfo ul li span.r{
	width: 70%;
	line-height: 1;
	font-size: 15px;
	color: #333333;
	float: left;
	word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 卡片按钮组 */
.card .btngroup{
	text-align: right;
	padding: 10px 0;
}
.card .btngroup span{
	display: inline-block;
	border: 1px solid #E4E4E4;
	border-radius: 15px;
	line-height: 1;
	padding: 6px 20px;
	margin-left: 15px;
	font-family: PingFangSC-Medium;
	font-size: 12px;
	color: #6F85C9;
}
.card .btngroup span.action{
	background-image: linear-gradient(-270deg, #3E60F3 8%, #4090E5 98%);
	border-radius: 15px;
	font-family: PingFangSC-Semibold;
	color: #FFFFFF;
}