*{
	margin: 0;
	padding: 0;
}
.top{
	width:100%;
	background-image: linear-gradient(-46deg, #3A9DF0 0%, #3F5BF3 100%);
}
.toptitle{
	padding-top: 15px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #FFFFFF;
}
.topcont{
	display: flex;
}
.topcont .l{
	flex: 1;
	height: 119px;
	position: relative;
}
.topcont .l .box{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;	
	text-align: center;
}
.topcont .l .box img{
	display: block;
	margin: 0 auto;
}
.topcont .l .box span{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #FFFFFF;
}
/* 面板切换 */
.mianban{
	width:100%;
	padding: 20px;
	overflow: hidden;
	background-color: #FFFFFF;
}
.mianban>div{
	float: left;
	width:50%;
	line-height: 1;
	padding: 15px 0;
	border: 1px solid #C5C5C5;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #999999;
}
.mianban .me{
	border-right: none;
}
.mianban div.active{
	color: #3A97F0;
	border-color: #A7CBFD;
}
/* 面板内容切换 */
/* .mianbanTan>div{
	display: none;
}
.mianbanTan>div.active{
	display: block;
} */





/* 无形资产 */
.zicanboxes{
	
}
.zicanboxes .item{
	margin-bottom: 10px;
}
.zichanTitle{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #333333;
	line-height: 1;
	background-color: #FFFFFF;
	padding: 10px 20px;
}
.zichanbox{
	background-color: #FFFFFF;
}
.zichanbox li{
	line-height: 1;
	padding: 10px 20px;
	display: flex;
}
.zichanbox li:nth-child(1){
	background-color:#F3F6FD !important;
}
.zichanbox li span{
	flex: 1;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
	line-height: 16px;
}
.zichanbox li span.c,span.r{
	text-align: right;
}

/* 选择时间样式 */
.selectTime{
	background-color: #FFFFFF;
	overflow: hidden;
}
.selectTime .item{
	height: 58px;
	padding: 0 20px;
	border-bottom: 1px solid #CBCBCB;
}
.selectTime .item label{
	float: left;
	height: 16px;
	font-size: 14px;
	color: #666666;
	margin-top: 21px;
	padding-right: 10px;
	line-height: 1;
}
.selectTime .item div{
	width: 190px;
	height: 16px;
	float: left;
	margin-top: 20px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #999999;
	line-height: 16px;
	padding-left: 15px;
}