*{
	margin: 0;
	padding: 0;
}
.tabCont{
	padding: 20px;
}
.tabCont div ul{
	list-style: none;
}
.tabCont div ul li{
	letter-spacing: 0;
	line-height: 16px;
	padding: 10px 0;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #333;
	line-height: 32px;
}