body{
	background: white;
	font-family: 'PingFangSC-Medium';
}
.head{
	width: 100%;
	height: 50px;
}
h3{
	text-align: left;
	font-size: 24px;
	line-height: 50px;
	color: #333333;
}
.registerList{
	width: 92.3%;
	margin: 0 auto;
	margin-top: 30px;
}
.registerList .box{
	margin-bottom: 16px;
}
.registerList .up{
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #666666;
}
.registerList .down{
	width: 100%;
	height: 36px;
	margin-top: 10px;	
	position: relative;
}
.icon_down{
	position: absolute;
	right: 15px;
	top: 10px;
	
}
.icon_down img{
	width: 18px;
	height: 12px;
}
.registerList .down input{
	border: none;
	border-bottom: solid 2px #D2D2D2;
	padding: 0;
	font-size: 12px;
	color: #999;
}
.registerList .down select{
	width: 100%;
	height: 38px;
	z-index: 1000;
	border-bottom: solid 2px #D2D2D2!important;
	padding: 0;
	font-size: 12px;
	color: #999;
}
.registerList .down #yanzm{
	width: 70%;
	float: left;
}
.registerList .down .yanzmbtn{
	float: right;
	width: 140px;
	height: 40px;
	border: solid 1px #368AF0;
	border-radius: 2px;
	color: #1755D3;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
}
.zhucbtn{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 20px;
	height: 46px;
	background: linear-gradient(to right, #3DA1F2 , #3586EF);
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
}
.xuzhibtn{
	font-size: 14px;
	margin-bottom: 20px;
	
}
