*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FFFFFF;
}
.cont{
	margin-top: 44px;
}
.scanl{
	width:100%;
	height: 200px;
	background-color: #62626A;
}
.box{
	width:100%;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	padding: 20px;
}
.toptitle{
	overflow: hidden;
}
.toptitle img{
	float: left;
	height: 21px;
	width: 20px;
}
.toptitle span{
	float: left;
	margin-left: 10px;
	font-family: PingFangSC-Medium;
	font-size: 16px;
	color: #333333;
}
.box ul{
	list-style: none;
}
.box li{
	overflow: hidden;
	line-height: 1;
	padding-top: 20px;
}
.box li span.l{
	float: left;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
}
.box li span.r{
	float: right;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
}