*{
	margin: 0;
	padding: 0;
}
.cont{
	background-color: #FFFFFF;
	width:100%;
	min-height: 736px;	
}
.topTab{
	width:100%;
	background-color: #FFFFFF;
	padding:0 20px;
	border-bottom: 1px solid #CBCBCB;
}
.topTab ul{
	list-style: none;
	overflow: hidden;
	display: flex;
}
.topTab li{
	flex: 1;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #999999;
	letter-spacing: 0;
	line-height: 37px;
	height: 37px;
	text-align: center;
	border-bottom: 2px solid transparent;
}
.topTab li.active{
	border-bottom: 2px solid #426DFF;
	color: #426DFF;
}
/* 切换内容 */
.tabCont{
	width: 100%;
}
.tabCont>div{
	width:100%;
	min-height: 100px;
}
.tabCont>div.active{
	display: block;
}
.tongzhi{
	
}
.list{
	width:100%;
	line-height: 1;
	padding:10px 20px;
	border-bottom: 1px solid #CBCBCB;
	overflow: hidden;
	position: relative;
}
.list span.title{
	display: block;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #0B0B0B;
	line-height: 1.5;
	margin-bottom: 10px;
}
.list span.time{
	display: block;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #666666;	
	line-height: 1;
}
.list span.gly{
	position: absolute;
	top:20px;
	right: 20px;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #0B0B0B;
}
.cuiban{
}
.zhihui{
}
.zhihui button{
	display: block;
	background-image: linear-gradient(-270deg, #4960FF 5%, #5E86FF 100%);
	border-radius: 8px;
	width: 318px;
	height: 46px;
	margin: 50px auto;
	font-size: 18px;
	color: #FFFFFF;
}
/* 知会列表 */
.zhihui ul{
	list-style: none;
}
.zhihui ul li{
	overflow: hidden;
	line-height: 1;
	padding: 20px 20px 0;
}
.zhihui li span.l{
	float: left;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #666666;	
}
.zhihui li span.r{
	float: right;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #0B0B0B;
}



.yujing{
	padding: 20px;
}