.cont{
	padding-top: 44px;
}
.item{
	width:95%;
	background-color: #FFFFFF;	
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	border-radius: 4px;
}
.item .top{
	overflow: hidden;
}
.item img{
	float: left;
}
.top span{
	font-family: PingFangSC-Medium;
	font-size: 16px;
	color: #000000;
	line-height: 16px;
	float: left;
	margin-left: 10px;
}
.role{
	width:100%;
	overflow: hidden;
}
.role .list{
	border: 1px solid #DBDBDB;
	border-radius: 2px;
	float: left;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #333333;
	line-height: 1;
	margin-top: 10px;
	margin-right: 15px;
	padding: 5px;
}