.mui-content {
	width: 100%;
	height: 100%;
	background-color: rgb(239, 239, 239);
}

#bimg {
	width: 20%;
	margin-top: 15px;
}

.mui-bottom {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	border-bottom: 0;
	background-color: rgba(85, 85, 85, 0.6)
}

.bottomb {
	font-size: 16px;
}

#divshows {
	padding: 10px 0;
	height: 68px;
	background-color: #FFFFFF;
}

#divshows .dept-select {
	height: 24px;
	line-height: 24px;
	margin-left: 5%;
}

.dept-select-title,
.dept-select-value {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dept-select-title {
	width: 80px;
}

.dept-select-value {
	width: calc(100% - 90px);
}

.content-approval {}

.contonediv {
	width: 94%;
	margin-left: 3%;
	margin-top: 3%;
	background-color: #FFFFFF;
}

.worddiv {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
}

.divleft,
.divright {
	display: inline-block;
	line-height: 40px;
	font-size: 14px;
}

.divleft {
	width: 100px;
	text-indent: 1em;
}

.divright {
	padding-right: 10px;
	width: calc(100% - 100px);
	text-align: right;
}

.hline {
	height: 1px;
	background-color: rgb(239, 239, 239);
	width: 100%;
	float: left;
}

.buttondiv {
	background-color: #FFFFFF;
	width: 100%;
}

.buttondiv .divlefts {
	margin-top: 13px;
	padding-left: 15px;
	width: 30%;
	float: left;
}

.buttondiv .divrights {
	height: 50px;
	line-height: 50px;
	width: 70%;
	float: left;
	text-align: right;
	padding-right: 5%;
}

.buttonto {
	padding: 8px 8px;
	margin-left: 10px;
	margin-top: 6px;
	background-color: rgb(42, 195, 253);
	color: #FFFFFF;
	border: 1px solid rgb(168, 230, 254);
}

.recid {
	display: none;
}

.buttondiv {
	width: 100%;
	height: 50px;
}