<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>名下资产明细</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/myAssetsDetail.css">
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">名下资产明细</h1>
		</header>
		<div class="contBox">
			<script type="text/template" id="tmp">
				<% for (var i=0,l=info.length;i<l;i++) { %>
					<div class="item">
						<ul>
							<% for (var k=0,kl=info[i].length;k<kl;k++) { %>
								<% for (var key in info[i][k]) { %>
									<% if ( key == 'title') { %>
										<li><span class="l"><%=info[i][k][key]%></span>
									<% } else if (key == 'value') { %>	
										<span class="r"><%=info[i][k][key]%></span></li>
									<% } %>						
								<% } %>
							<% } %>
						</ul>
					</div>
				<% } %>
			</script>		
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
	<script src="../../js/template-native.js"></script>
	<script>		
		$(function(){
			var url_mh=localStorage.url_mh;//资产后台地址
			mui.init({
			});
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var sortgbid = self.sortgbid;
				$.ajax({
					type:'get',
					url:url_mh+'/jqzw/server',
					data:{service:"InventoryClientService",method:"getPersonCardInfo",params:sortgbid+',1,20'},
					dataType:'json',
					success:function(info){
						console.log(JSON.stringify(info))
						if( info.type == 'success'){
							var html = template('tmp',{info:info.value});
							$('.contBox').html(html);
						}
					},
					error:function(err){
						console.log(JSON.stringify(err))
					}
				})
			});
		});
		
		
	</script>
</html>
