<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>委托办理</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/newHandle.css">
	</head>
	<body>
		<div class="banner_bg"></div>
		<div class="cardtab">
			<ul>
				<li id="weituobanli_banli_daitijiao">待提交</li>
				<li class="active" id="weituobanli_banli_daishenpi">待审批</li>
				<li id="weituobanli_banli_daiheding">待机组费用核定</li>
				<li id="weituobanli_banli_daiqueren">待用户确认</li>
				<li id="weituobanli_banli_yiwancheng">已完成确认</li>
			</ul>
		</div>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
			<h1 class="mui-title">委托办理</h1>
		</header>
		<div class="cont">
			<div class="mui-scroll-wrapper" id="cardinfo">
				<div class="mui-scroll">
					<div class="cards">
						<script type="text/template" id="tmp">
							<% for (var i=0,l=info.length;i<l;i++) { %>
								<div class="card">
									<div class="cardinfo">
										<div class="title">
											<span class="l"><%=info[i].shebmc%></span>
										</div>
										<ul class="">
											<li><span class="l">预约单号</span><span class="r"><%=info[i].billcode%></span></li>
											<li><span class="l">委托人人</span><span class="r"><%=info[i].weitr%></span></li>
											<li><span class="l">委托人电话</span><span class="r"><%=info[i].weitrdh%></span></li>
											<li><span class="l">预约测试时间</span><span class="r"><%=info[i].yuycssj%></span></li>
											<li><span class="l">期望完成时间</span><span class="r"><%=info[i].qiwwcsj%></span></li>
											<li><span class="l">管理员</span><span class="r"><%=info[i].fuzr%></span></li>
											<li><span class="l">管理员电话</span><span class="r"><%=info[i].fuzrdh%></span></li>
										</ul>
									</div>
									<div class="btngroup">
										<span class="detail" data-state="<%=info[i].state%>" data-recid="<%=info[i].recId%>">进入详情</span>
										<% if (info[i].action != '1') { %>
											<span class="handle action" data-shijje="<%=info[i].shijje%>" data-cesxm="<%=info[i].cesxm%>" data-yuancsxm="<%=info[i].yuancsxm%>"  data-ptguid="<%=info[i].ptguid%>" data-recid="<%=info[i].recId%>"><%=info[i].action%></span>
										<% } %>										
									</div>
								</div>
							<% } %>
						</script>
					</div>
				</div>
			</div>
		</div>
		
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
	<script src="../../js/template-native.js"></script>
	<script>		
		window.addEventListener('reload', function(e){//执行刷新
			location.reload();
		});
		mui.plusReady(function() {			
			$(function(){
				var options = {
					 scrollY: true, //是否竖向滚动
					 scrollX: false, //是否横向滚动
					 startX: 0, //初始化时滚动至x
					 startY: 0, //初始化时滚动至y
					 indicators: true, //是否显示滚动条
					 deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
					 bounce: true //是否启用回弹
				}
				mui('.mui-scroll-wrapper').scroll({
					deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
				});
				var url=localStorage.url;
				var stdcode=localStorage.stdcode;
				//初始化加载数据源
				$.ajax({
					url:url+'/jqzw/server',
					type:'get',
					dataType:'json',
					data:{service:"DelegationService",params:'['+stdcode+',weituobanli_banli_daishenpi]',method:"getDelegationlist"},
					beforeSend:function(){
						plus.nativeUI.showWaiting('正在加载...')
					},
					success:function(info){
						if(info.type == 'success'){
							var html = template('tmp',{info:info.value});
							$('.cards').html(html);
						}
					},
					error:function(err){
						console.log(JSON.stringify(err))
					},
					complete:function(){
						plus.nativeUI.closeWaiting();
					}
				});
				$('.cardtab ul li').on('click',function(){
					if($(this).hasClass('active')){
						return;
					}
					$(this).addClass('active').siblings('li').removeClass('active');
					var dqzt = $(this).attr('id');
					$.ajax({
						url:url+'/jqzw/server',
						type:'get',
						dataType:'json',
						data:{service:"DelegationService",params:'['+stdcode+','+dqzt+']',method:"getDelegationlist"},
						beforeSend:function(){
							plus.nativeUI.showWaiting('正在加载...')
						},
						success:function(info){
							console.log(JSON.stringify(info))
							if(info.type == 'success'){
								var html = template('tmp',{info:info.value});
								$('.cards').html(html);	
							}
						},
						error:function(err){
							console.log(JSON.stringify(err))
						},
						complete:function(){
							plus.nativeUI.closeWaiting();
						}
					});
				});
				//点击跳转页面
				$('.cards').on('click','.detail',function(){
					var recid=$(this).attr('data-recid');
					var state=$(this).attr('data-state');
					console.log(state)
					mui.openWindow({
						url:'./weituobanldetail.html',
						styles: {
							popGesture: 'close',
							scrollIndicator: "none"
						},
						waiting: {
							autoShow: false
						},
						extras:{
							recid:recid,
							state:state
						}
					});
				});
				//点击同意按钮页面
				$('.cards').on('click','.handle',function(){
					if($(this).text() == '同意'){
					var recid=$(this).attr('data-recid');
					var ptguid=$(this).attr('data-ptguid');	
					var stdcode = localStorage.stdcode;
					//默认登录,防止登录过期
					$.ajax({
						type:'get',
						url:url+'/jqzw/login/log',
						dataType:'json',
						data:{username:stdcode,token:"tryagain"},
						success:function(info){
							if(info.type == 'success'){
								$.ajax({
									url:url+'/jqzw/server',
									type:'get',
									dataType:'json',
									data:{service:"NeedToDoService",method:"InsertBoolean",params:recid+',true,WEITCYSQD,'+ptguid+',审批同意'},
									beforeSend:function(){
										plus.nativeUI.showWaiting('正在提交...');						
									},
									success:function(info){
										console.log(JSON.stringify(info))
										if(info.value == 'success'){
											window.location.reload();
											mui.toast('提交成功')
										}else{
											window.location.reload();
											mui.toast('提交失败，请重试')
										}
									},
									error:function(err){
										console.log(JSON.stringify(err))
									},
									complete:function(){
										plus.nativeUI.closeWaiting();
										console.log('complete')
									}
								});
							}else{
								mui.toast('登录失败，会话过期，请重新登录');
							}
						},
						error:function(err){
							mui.toast('登录失败，会话过期，请重新登录');
						}
					});
					}
				});
				//点击核定按钮页面
				$('.cards').on('click','.handle',function(){
					if($(this).text() == '核定'){
						var obj={};
						var recid = $(this).attr('data-recid');
						var shijje = $(this).attr('data-shijje');
						var biangje =0;//先写固定值
						var lxcode = '01';//先写定值01增加 02减少
						var yuancsxm =$(this).attr('data-yuancsxm');
						var cesxm =$(this).attr('data-cesxm');
						obj.recid=recid;
						obj.biangje=biangje;
						obj.shijje=shijje;
						obj.lxcode=lxcode;
						obj.yuancsxm=yuancsxm;
						obj.cesxm=cesxm;
						obj.beiz="备注测试信息";//后续需要修改
						obj.ceslb="WEITCYSQD";
						mui.openWindow({
							url: "./feiyongqueren.html",
							styles: {
								popGesture: 'close',
								scrollIndicator: "none"
							},
							show: {
								duration: 500
							},
							waiting: {
								autoShow: true
							},
							extras:{
								obj:obj
							}
						});
					}
				});
				//确认费用按钮
				$('.cards').on('click','.handle',function(){
					if($(this).text() == '确认'){
					var recid = $(this).attr('data-recid');
					var shijje = $(this).attr('data-shijje');
					var json={};
					json.recid=recid;
					json.shijje=shijje;
					json.ceslb="WEITCYSQD";
					mui.prompt('<label>使用评价：</label><input type="radio" name="shiypj" value="01" checked>非常满意<input type="radio" value="02" name="shiypj">基本满意<input type="radio" value="03" name="shiypj">一般<input type="radio" value="04" name="shiypj">不满意<input type="radio" value="05" name="shiypj">极差','评价内容','确认信息',['取消','确认'],function (e) {
						if(e.index == '0'){
							console.log('xuxiao')
						}else{
							var val = $('input[name="shiypj"]:checked').val()
							if( val == '04' || val == '05' ){
								if(e.value == ''){
									mui.alert('请填写评价内容')
								}else{
									json.shiypj=val;
									json.pingjnr=e.value
									json=JSON.stringify(json);
									$.ajax({
										url:url+'/jqzw/server',
										type:'get',
										dataType:'json',
										data:{service:"BigEquipmentService",method:"saveDelegationCostAccount",params:json},
										beforeSend:function(){
											plus.nativeUI.showWaiting('正在提交...');
										},
										success:function(info){
											if(info.type == 'success'){
												mui.toast('费用确认成功')
												location.reload();
											}						
										},
										error:function(err){
											console.log(JSON.stringify(err))
										},
										complete:function(){
											plus.nativeUI.closeWaiting();
										}
									})
								}
							}else{
								json.shiypj=val;
								json.pingjnr=e.value
								json=JSON.stringify(json);
								$.ajax({
									url:url+'/jqzw/server',
									type:'get',
									dataType:'json',
									data:{service:"BigEquipmentService",method:"saveDelegationCostAccount",params:json},
									beforeSend:function(){
										plus.nativeUI.showWaiting('正在提交...');
									},
									success:function(info){
										if(info.type == 'success'){
											mui.toast('费用确认成功')
											location.reload();
										}						
									},
									error:function(err){
										console.log(JSON.stringify(err))
									},
									complete:function(){
										plus.nativeUI.closeWaiting();
									}
								})
							}
						}
					},'div')
					}
				});	
			});
		});
		
		
		
	</script>
</html>
