<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>远程上下机</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link type="text/css" rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/common-asset-search.css">
		<link rel="stylesheet" href="../../css/yuyueyiqi.css">
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">远程上下机</h1>
		</header>	
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">			
			<div class="mui-scroll">
				<div class="yiqicont">
					<div class="asset-search-btn">
						<label id="searchBy" style="background: #488CFF;"> 搜索</label>
						<input type="text" id="searchinput"  placeholder="搜索设备名称、规格型号、所属平台" style="">
					</div>
					<script type="text/template" id="tmp">
						<% for (var i=0;i<info.length;i++) { %>
							<div class="item">
								<div class="imgbox"><img class="gray" src="<%=info[i].picUrl%>" alt=""></div>
								<div class="yiqiinfo">
									<div class="left">
										<span>仪器名称</span>
										<span>负责人</span>
										<span>联系方式</span>
										<span>仪器状态</span>
									</div>
									<div class="right">
										<span style="overflow: hidden;"><%=info[i].zicmc%></span>
										<span><%=info[i].yiqgly%></span>
										<span><%=info[i].jizrylxdh%></span>
										<span><%=info[i].dangqzt%></span>
									</div>
								</div>
								<div class="btngroup" data-objid="<%=info[i].objectid%>" data-recid="<%=info[i].recid%>">
									<% if (info[i].dangqzt =='空闲') {%>
										<button class="btnwt" data-dqzt="02">远程上机</button>
									<% } else {%>
										<button class="btnwt" data-dqzt="01">远程下机</button>									
									<% } %>									
								</div>
							</div>
						<% } %>				
					</script>
				</div>	
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
	<script src="../../js/template-native.js"></script>
	<script type="text/javascript">		
		$(function(){
			var url=localStorage.url;	
			var stdcode = localStorage.stdcode;
			$.ajax({ 
				url:url+'/jqzw/server',
				type:'get',
				data:{service:"SelfUseManageService",params:stdcode+",1,30",method:"getEquipments"},
				//data:{service:"SelfUseManageService",params:stdcode+","+pageNum+","+pageSize,method:"getEquipments"},
				dataType:'json',
				success:function(info){
					if(info.type == 'success'){ 
						var html=template('tmp',{info:info.value});
						$('.yiqicont').append(html);							
					}
				},
				error:function(err){
					console.log(SON.stringify(err));						
				}
			});
			//远程上下机
			$('.yiqicont').on('click','.btnwt',function(){
				var dqzt=$(this).attr('data-dqzt');
				mui.openWindow({
					url:'../base/barcode_scan_dy.html',
					extras:{
						dqzt:dqzt
					}
				});
			})
			
		})
	</script>
</html>
