<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>预约仪器试仪器列表</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link type="text/css" rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/common-asset-search.css">
		<link rel="stylesheet" href="../../css/yuyueyiqi.css">
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">自主登记设备选择</h1>
		</header>		
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="asset-search-btn">
				<label id="searchBy"> 搜索</label>
				<input type="text" id="searchinput"  placeholder="搜索设备名称、规格型号、所属平台" style="">
			</div>
			<div class="mui-scroll">
				<div class="yiqicont">
					<script type="text/template" id="tmp">
						<% for (var i=0;i<info.length;i++) { %>
							<div class="item">
								<div class="imgbox"><img src="<%=info[i].picUrl%>" alt=""></div>
								<div class="yiqiinfo">
									<div class="left">
										<span>仪器名称</span>
										<span>负责人</span>
										<span>联系方式</span>
										<span>当前状态</span>
									</div>
									<div class="right">
										<span style="overflow: hidden;"><%=info[i].zicmc%></span>
										<span><%=info[i].yiqgly%></span>
										<span><%=info[i].jizrylxdh%></span>
										<span>空闲</span>
									</div>
								</div>
								<div class="btngroup" data-objid="<%=info[i].objectid%>" data-recid="<%=info[i].recid%>">
									<button class="btnwt" name="<%=info[i].zicmc%>" id="<%=info[i].recid%>" obj="<%=info[i].guigxh%>" attr="<%=info[i].yiqgly%>" peo="<%=info[i].jizry%>">自用登记</button>
								</div>
							</div>
						<% } %>				
					</script>
				</div>	
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
	<script src="../../js/template-native.js"></script>
	<script src="../../js/jqzw_server.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var url=localStorage.url;	
		var stdcode = localStorage.stdcode;
		$(function(){ 		
			console.log(stdcode);
			var pageNum = 1;
			var pageSize = 10;
			function pullupFresh(){	
				$.ajax({ 
					url:url+'/jqzw/server',
					type:'get',
					data:{service:"SelfUseManageService",params:stdcode+","+pageNum+","+pageSize,method:"getEquipments"},
					dataType:'json',
					success:function(info){
						console.log(JSON.stringify(info))
						if(info.type == 'success'){ 
							var html=template('tmp',{info:info.value});
							$('.yiqicont').append(html);
							pageNum++;
							if(info.value.length < 10){
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							}else{
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							}							
							
						}
					},
					error:function(err){
						console.log(SON.stringify(err));						
					}
				});
			}
			//页面初始化加载仪器数据
			mui.init({
				pullRefresh : {
					container:"#pullrefresh",//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
					up : {
						height:50,//可选.默认50.触发上拉加载拖动距离
						auto:true,//可选,默认false.自动上拉加载一次
						contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
						callback :pullupFresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}			
			});
			//点击自主登记
			$('.yiqicont').on('click','.btnwt',function(){
				var shebmc = $(this).attr('name');
				var guigxh = $(this).attr('obj');
				var recid = $(this).attr('id');
				var yiqgly = $(this).attr('attr');
				var jizry = $(this).attr('peo');
				console.log(shebmc)
				console.log(guigxh)
				console.log(recid)
				console.log(yiqgly)
				console.log(jizry)
				
				mui.openWindow({
					url: "../business/dengjiDetail.html",
					id: 'dengjiDetail',
					styles: {
						popGesture: 'close',
						scrollIndicator: "none"
					},
					waiting: {
						autoShow: false
					},
					extras: {
						name:shebmc,
						myid:recid,
						style:guigxh,
						people:stdcode,
						peo:jizry
					}
				});
			})
		})
		
	</script>
</html>
