<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>消息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/myMessage.css">
		<style>
			.mui-control-content {
				background-color: white;
				min-height: 600px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">消息</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile">待办</a>
					<a class="mui-control-item" href="#item2mobile">催办</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="tongzhi" id="tz">
									<script type="text/template" id="name">
										<% for (var i=0,l=list.length;i<l;i++) { %>
											<div class="list">
												<span class="title"><%=list[i].message%></span>
												<span class="time"><%=list[i].time%></span>
											</div>
										<% } %>
									</script>
								</div>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="scroll2" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="tongzhi" id="cuiban">
									<script type="text/template" id="cuiban_tmp">
										<% for (var k=0,kl=list_cui.length;k<kl;k++) { %>
											<div class="list">
												<span class="title"><%=list_cui[k].message%></span>
												<span class="time"><%=list_cui[k].time%></span>
											</div>
										<% } %>
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/jquery-3.2.1.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template-native.js"></script>
		<script>
			mui.init({
				swipeBack: false
			});
			$(function(){
				var url_mh = localStorage.url_mh;
				var stdcode = localStorage.stdcode;
				//加载待办、催办消息
				if(localStorage.stdcode == '' || localStorage.stdcode == null || localStorage.stdcode ==undefined){
					console.log('未登录，不请求消息接口')
				}else{
					//默认登录
					$.ajax({
						type:'get',
						url:url_mh+'/jqzw/login/log',
						dataType:'json',
						data:{username:stdcode,token:"tryagain"},
						success:function(info){
							if( info.type == 'success'){
								//01待办
								$.ajax({
									url:url_mh+'/jqzw/server',
									type:'get',
									data:{service:"MessageTbService",method:"getMessageList",params:'01'},
									dataType:'json',
									success:function(info){
										if(info.type == 'success'){
											var html = template('name',{list:info.value});								
											if(info.value.length>0){
												$('#tz').html(html);
											}else{												
												$('#tz').html('暂无消息');
											}
										}
									},
									error:function(err){
										console.log(JSON.stringify(err));
									}
								});
								//02催办
								$.ajax({
									url:url_mh+'/jqzw/server',
									type:'get',
									data:{service:"MessageTbService",method:"getMessageList",params:'02'},
									dataType:'json',
									success:function(info){
										if(info.type == 'success'){
											var html = template('cuiban_tmp',{list_cui:info.value});								
											if(info.value.length>0){
												$('#cuiban').html(html);												
											}else{
												$('#cuiban').html('暂无消息');
											}
										}
									},
									error:function(err){
										console.log(JSON.stringify(err));
									}
								});
							}else{
								mui.toast('登录失败，会话过期，请重新登录');
							}
						},
						error:function(err){
							mui.toast('登录失败，会话过期，请重新登录');
						}
					})
				}
			})			
		</script>

	</body>

</html>