<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>消息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/myMessage.css">
		<style>
			.mui-control-content {
				background-color: white;
				min-height: 600px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">消息</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile">待办</a>
					<a class="mui-control-item" href="#item2mobile">催办</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="tongzhi">
									<script type="text/template" id="name">
										<% for (var i=0,l=list.length;i<l;i++) { %>
											<div class="list">
												<span class="title"><%=list[i].fasnr%></span>
												<span class="time"><%=list[i].billtime%></span>
											</div>
										<% } %>
									</script>
								</div>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="scroll2" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								暂无消息
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/jquery-3.2.1.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template-native.js"></script>
		<script>
			mui.init({
				swipeBack: false
			});
			$(function(){
				$('.mui-scroll-wrapper').scroll({
					indicators: true //是否显示滚动条
				});
				var url_mh = localStorage.url_mh;
				var userId = localStorage.userId;
				//加载催办消息
				if(localStorage.stdcode == '' || localStorage.stdcode == null || localStorage.stdcode ==undefined){
					console.log('未登录，不请求消息接口')
				}else{
					$.ajax({
						url:url_mh+'/jqzw/server',
						type:'get',
						data:{service:"MessageTbService",method:"getMessageTb",params:userId},
						dataType:'json',
						success:function(info){
							if(info.type == 'success'){
								var html = template('name',{list:info.value});								
								if(!info.value.length>0){
									$('.tongzhi').html('暂无消息');
								}else{
									$('.tongzhi').html(html);
								}
							}
						},
						error:function(err){
							console.log(JSON.stringify(err));
						}
					});
				}
			})
			
		</script>

	</body>

</html>