<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>消息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/slider.css">		
	</head>
	<body>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="cont">
					<div class="tabCont">
						<div class="tongzhi">
							<script type="text/template" id="name">
								<% for (var i=0,l=list.length;i<l;i++) { %>
									<div class="list">
										<span class="title"><%=list[i].fasnr%></span>
										<span class="time"><%=list[i].billtime%></span>
									</div>
								<% } %>
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
		<script src="../../js/template-native.js"></script>
		<script>			
			mui.init({
				swipeBack: false,
				keyEventBind: {
					backbutton: false //关闭back按键监听
				}
			});
			var url_mh = localStorage.url_mh;
			var userId = localStorage.userId;
			$(function(){
				//加载通知
				if(localStorage.stdcode == '' || localStorage.stdcode == null || localStorage.stdcode ==undefined){
					console.log('未登录，不请求消息接口')
				}else{
					$.ajax({
						url:url_mh+'/jqzw/server',
						type:'get',
						data:{service:"MessageTbService",method:"getMessageTb",params:userId},
						dataType:'json',
						success:function(info){
							console.log(JSON.stringify(info));
							if(info.type == 'success'){
								var html = template('name',{list:info.value});								
								if(!info.value.length>0){
									$('.tongzhi').append('暂无消息');
								}else{
									$('.tongzhi').append(html);
								}
							}
						},
						error:function(err){
							console.log(JSON.stringify(err));
						}
					});
				}						
			});
		</script>
	</body>

</html>